In [0]:
%sql
create table Employee(Id int,Name varchar(100),Salary int)

In [0]:
%sql
insert into Employee values(1,'Hemachandra',10000),(2,'Guru',15000)

In [0]:
%sql
select * from Employee

In [0]:
DESCRIBE DETAIL Employee

In [0]:
%fs ls 'dbfs:/user/hive/warehouse/employee'

In [0]:
insert into Employee values(3,'Hemachandra',20000)

In [0]:
%fs ls 'dbfs:/user/hive/warehouse/employee'

In [0]:
update Employee SET Salary=Salary+100 where ID<=2

In [0]:
%fs ls 'dbfs:/user/hive/warehouse/employee'

In [0]:
DESCRIBE HISTORY Employee

In [0]:
%fs ls dbfs:/user/hive/warehouse/employee/_delta_log/